<ion-header>

  <ion-navbar color="primary">
    <p class="white">{{ data.descripcionOee }}</p>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map_det id="map_det">
  </div>
  <ion-segment id="but"  color="light">
    <ion-segment-button (click)="launchDirections()" value="ir">Ir a
      <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list padding-right style="padding-bottom: 0px; margin-bottom: 0px;">
    <ion-item no-lines padding-horizontal>

      <ion-card-title color="primary">Detalles de la institución:</ion-card-title>
      <ion-item [hidden]="!data.descripcionOee"  no-padding no-margin style="height: 54px;" >
        <h2 [hidden]="!data.descripcionOee" class="primary">Institución</h2>
        <p text-wrap>{{ data.descripcionOee }}</p>
      </ion-item>

      <ion-item [hidden]="!data.descripcionOficina" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.descripcionOficina" class="primary">Oficina</h2>
        <p text-wrap>{{ data.descripcionOficina }}</p>
      </ion-item>
      <ion-item [hidden]="!data.departamento" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.departamento" class="primary">Departamento</h2>
        <p text-wrap>{{ data.departamento }}</p>
      </ion-item>
      <ion-item [hidden]="!data.ciudad" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.ciudad" class="primary">Ciudad</h2>
        <p text-wrap>{{ data.ciudad }}</p>
      </ion-item>
      <ion-item [hidden]="!data.direccion" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.direccion" class="primary">Dirección</h2>
        <p text-wrap>{{ data.direccion }}</p>
      </ion-item>

      <ion-item [hidden]="!data.telefono" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.telefono" class="primary">Teléfono</h2>
        <a [hidden]="!data.telefono" href="tel:{{data.telefono}}" style="color:blue;" >{{ data.telefono }}</a>
      </ion-item>
      <ion-item [hidden]="!data.paginaWeb" no-padding no-margin style="height: 50px;"  >
        <h2 [hidden]="!data.paginaWeb" class="primary">Página web</h2>
        <p [hidden]="!data.paginaWeb" text-wrap><a href="{{ data.paginaWeb }}" style="color:blue;">{{ data.paginaWeb }}</a></p>
      </ion-item>
    </ion-item>
  </ion-list>
<h1 style="padding-top: 0px;" class="primary" text-center="" padding-right>Concursos en Postulación</h1>
<ion-list>
  <ion-item *ngFor="let item of items" text-wrap padding-right>
    <ion-avatar item-right>
      <img src="./assets/img/avatar.png" style="display: block; margin: auto">
      <p>{{ item.vacancia }} vacanci{{ item.vacancia == 1 ? 'a' : 'as'}}</p>
    </ion-avatar>
    <h2 class="primary">{{ item.puesto }}</h2>
    <h3>{{ item.descripcionOee }}</h3>
    <p><span class="primary">Inicio: </span>{{ item.inicioPostulacion | date:"dd/MM/yyyy HH:mm" }}</p>
    <p><span class="primary">Fin: </span>{{ item.finPostulacion | date:"dd/MM/yyyy HH:mm" }}</p>
  </ion-item>
</ion-list>

<ion-item [hidden]="hidden" text-wrap padding-right>
  <h3><b>*No cuenta con Concursos en Postulación</b></h3>
</ion-item>
</ion-content>
