<!--
  Generated template for the ConcursosFinalizados page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary">

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-searchbar (ionInput)="buscarConcursos($event)" autocorrect="off"
                     (ionCancel)="cancelarBusqueda()"
                     (ionClear)="limpiarBusqueda()"
                     placeholder="Buscar concurso"
                     [cancelButtonText]="'Cancelar'"
                     [showCancelButton]="true"
                     [animated]="true"
                     [hidden]="!hidden"></ion-searchbar>

      <ion-title [hidden]="hidden">Pedidos retirados</ion-title>

      <!--<ion-buttons end>
        <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>-->

    </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items" text-wrap (click)="goToDetails(item)" padding-right >
      <h2 class="primary">Cliente: {{ item.clienteDescripcion }}</h2>
      <h3 >Monto del pedido: Gs. {{ item.totalFinal | number:0 | custom}}</h3>
      <h3 >Estado del pedido: {{ item.estadoPedido}}</h3>
      <p><span class="primary">Fecha de Pedido: </span>{{ item.fechaPedido | date:"dd/MM/yyyy" }}</p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
