page-mapa-clientes{
  #map{
    height: 100%;
    width: 100%;
  }
  .searchbar-md .searchbar-search-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel {
    display: block !important;
  }
  #but {
    height: 8%;
    width: 100%;
    background: map-get($colors, primary);
  }
  #fab {
    padding-bottom: 45px;
  }
}
