<!--
  Generated template for the Mapa page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary" >

    <button ion-button menuToggle  >
      <ion-icon name="menu" ></ion-icon>
    </button>

    <ion-searchbar  (search)="buscarInstitucion($event)" placeholder="Buscar Institución" (ionCancel)="hidden = !hidden"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Mapa de Clientes</ion-title>

<!--    <ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->

  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map">
  </div>
<!--  <ion-fab #fab id="fab" bottom left>
    <button ion-fab (click)="busquedaCiudad()"><ion-icon name="ios-funnel"></ion-icon></button>
  </ion-fab>-->
  <!-- Icons -->

<!--  <div id="but"  [hidden]="!showButton">
    <button ion-button icon-right  (click)="launchDirections()">
      <ion-icon ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
      Ir a
    </button>
    <button ion-button icon-right (click)="goToDetails()" >
      Ver más
      <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </div>-->
  <ion-segment id="but" color="light">
    <ion-segment-button (click)="launchDirections()" value="ir" icon-right>Ir a
      <ion-icon  ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-content>
