<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Iniciar Sesión</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="margin: 80px;"></div>
  <div align="center" style="width: 70%; margin: auto">
    <img id="logo" src="./assets/img/ventas-fit-black.png"/>
  </div>
  <div align="center" style="width: 35%; margin: auto" [hidden]="!isLogginIn">
    <ion-spinner style="margin: 36px"></ion-spinner>
  </div>
  <div [hidden]="isLogginIn">
  <p>
    <button (click)="signInWithGoogle()" ion-button icon-left block round class="google" style="color: black; margin-top: 100px">
      <ion-icon name="google" style="padding-right: 12px"></ion-icon>
      Iniciar Sesión con Google
    </button>
  </p>
  </div>
</ion-content>
