<!--
  Generated template for the Estadisticas page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Estadísticas</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showTips($event)">
        <ion-icon name="ios-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card style="height: 250px;">
    <ion-card-header align="center"  style="padding-bottom: 0px;height: 15%;">
      Vacancias vs. Postulantes
    </ion-card-header>
    <ion-card-content style="height: 85%;">
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header align="center">
      Suscripciones por Profesiones
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header align="center">
      Tipos de concursos
    </ion-card-header>
    <ion-card-content>
      <canvas #pcdCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-fab #fab id="fab"bottom right>
    <button ion-fab (click)="refresh()"><ion-icon  name="refresh"></ion-icon></button>
  </ion-fab>

</ion-content>
