<!--
  Generated template for the MiCuenta page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only left (click)="close()">
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Filtrar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="filter" (ngSubmit)="guardar()" padding-top>
    <ion-item class="item-mi-cuenta" padding-top>
      <ion-label stacked>Profesiones</ion-label>
      <ion-select formControlName="categoria" okText="Aceptar" cancelText="Cancelar">
        <ion-option *ngFor="let item of categorias" value={{item.descripcionCategoria}}>{{item.descripcionCategoria}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Institución</ion-label>
      <ion-select class="prueba" formControlName="institucion"  okText="Aceptar" cancelText="Cancelar">
        <ion-option class="prueba" *ngFor="let item of instituciones" value={{item.descripcion_oee}}>{{item.descripcion_oee}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Vinculación</ion-label>
      <ion-select formControlName="vinculo" okText="Aceptar" cancelText="Cancelar">
        <ion-option value="permanente">Permanente</ion-option>
        <ion-option value="contratado">Contratado</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Año</ion-label>
      <ion-select class="prueba" formControlName="anho" okText="Aceptar" cancelText="Cancelar">
        <ion-option value="2014">2014</ion-option>
        <ion-option value="2015">2015</ion-option>
        <ion-option value="2016">2016</ion-option>
        <ion-option value="2017">2017</ion-option>
      </ion-select>
    </ion-item>
    <button style="margin-top:40px" ion-button block round class="mi-cuenta" type="submit" [disabled]="!filter.valid">Filtrar</button>
  </form>
</ion-content>
