<ion-header>
<!--
  <ion-navbar color="primary">
    <ion-title>
      My Calendars
    </ion-title>
  </ion-navbar>
-->


  <ion-toolbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="buscarConcursos($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar concurso"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Agenda de Clientes</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>



<ion-content>

  <ion-list>
    <ion-item *ngFor="let cal of calendars" tappable>
      <button ion-button icon-only item-start clear (click)="addEvent(cal)">
        <ion-icon name="add"></ion-icon>
      </button>
      {{ cal.name }}
      <p>{{ cal.type }}</p>
      <button ion-button icon-only item-end clear (click)="openCal(cal)">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
