calendario-clientes {
  #logo{
    margin:auto;
    height: 60%;
    width: 60%;
  }

  #sfp{
    margin:auto;
    height: 60%;
    width: 60%;
  }

  #gobierno{
    margin:auto;
    height: 50%;
    width: 65%;
  }

  #senatics{
    margin:auto;
    height: 60%;
    width: 60%;
  }

  #ceamso{
    margin:auto;
    height: 60%;
    width: 60%;
  }

  #usaid{
    margin:auto;
    height: 60%;
    width: 60%;
  }
}
