<!--
  Generated template for the Concursos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Concursos</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<!--<ion-content>-->

<!--</ion-content>-->

<ion-tabs color="primary" class="tabs-color-active">
  <ion-tab [root]="tab1Root" tabIcon="document" tabTitle="En creación"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="md-checkmark-circle-outline" tabTitle="Confirmados"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="archive" tabTitle="Retirados"></ion-tab>
  <!--<ion-tab [root]="tab4Root" tabIcon="map"></ion-tab>-->
  <!--<ion-tab [root]="tab5Root" tabIcon="notifications"></ion-tab>-->
</ion-tabs>
