<!--
  Generated template for the MiCuenta page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crear Cliente</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="usuario" (ngSubmit)="guardar()">
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Nombres<span style="color:#ff0000"> *</span></ion-label>
      <ion-input type="text" formControlName="nombres"></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Apellidos<span style="color:#ff0000"> *</span></ion-label>
      <ion-input type="text" formControlName="apellidos"></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Sexo</ion-label>
      <ion-select formControlName="sexo" okText="Aceptar" cancelText="Cancelar">
        <ion-option value="F">Femenino</ion-option>
        <ion-option value="M">Masculino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Fecha de Nacimiento<span style="color:#ff0000"> *</span></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechaNacimiento" doneText="Aceptar" cancelText="Cancelar"></ion-datetime>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Cédula de Identidad<span style="color:#ff0000"> *</span></ion-label>
      <ion-input type="text" formControlName="documento" [disabled]="!crear"></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Teléfono</ion-label>
      <ion-input type="tel" formControlName="telefono"></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Correo<span style="color:#ff0000"> *</span></ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div style="height: 250px">
      <ion-label stacked>Ubicación del cliente<span style="color:#ff0000"> *</span></ion-label>
      <div #map id="map">
      </div>
    </div>

    <!--<ion-item class="item-mi-cuenta">
      <ion-label stacked>Ubicación del cliente: <span style="color:#ff0000"> *</span></ion-label>
      <div #mapCliente id="mapCliente">
      </div>
    </ion-item>-->
    <button style="margin-top:40px" ion-button block round class="mi-cuenta" type="submit">Guardar</button>
  </form>
</ion-content>
