<ion-header>

  <ion-toolbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="buscarConcursos($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar concurso"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Listado de productos</ion-title>

<!--    <ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>-->

  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item *ngFor="let item of items" >
      <ion-avatar item-right text-center>
        <img [src]="item.imageData" style="display: block; margin: auto; width: 85px; height: 85px">
        <h3>Gs. {{ item.precioVenta | number:0 | custom}}</h3>
      </ion-avatar>
      <ion-label >
        <h2 class="primary producto-title">{{ item.descripcion }}</h2>
        <!--<span class="primary">Precio: </span> {{ item.precioVenta | number:0 | custom}}<br>-->
        <span class="primary">Tipo: </span>{{ item.idTipoProducto }}<br>
        <span class="primary">Impuesto: </span>{{ item.tipoIva }}<br>
        <span class="primary">Stock Actual: </span>{{ item.stockActual }}
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
