<!--
  Generated template for the Departamentos page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only left (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>

    </ion-buttons>
    <ion-searchbar (ionInput)="buscarCiudad($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar ciudad"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Clientes</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-label padding-right>{{item.nombres+ ' '+ item.apellidos}}</ion-label>
        <ion-radio [checked]="item.id === selected.id" (click)="select(item)"></ion-radio>
      </ion-item>
    </ion-list>
</ion-content>
