// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-ios-iconos-01-outline,
.ion-ios-iconos-01,
.ion-md-iconos-01 {
  content: url(../assets/ic_view_list.svg);
}

.ion-ios-twitter-circle,
.ion-md-twitter-circle {
  content: url(../assets/img/twitter-circle.svg);
}

.ion-ios-facebook-circle,
.ion-md-facebook-circle {
  content: url(../assets/img/facebook-circle.svg);
}

.ion-ios-facebook,
.ion-md-facebook {
  content: url(../assets/img/facebook.svg);
}

.ion-ios-google,
.ion-md-google {
  content: url(../assets/img/google.svg);
}

.primary {
  color: map-get($colors, primary);
}

.divider-black {
  color: map-get($colors, dark);
}
.primary {
  color: map-get($colors, primary);
}

.sidenav-icon {
  margin-left: 8px !important;
}

.facebook {
  background-color: #3B5998;
  display: block;
  margin: auto;
}

.google {
  background-color: #EEE;
  display: block;
  margin: auto;
}
.mi-cuenta {
  background-color: #333;
  display: block;
  margin: auto;
}

.tab-button[aria-selected=true] {
  background: #652b2a;
}

.selected {
  background: map-get($colors, naranja);
}

.item-md .item-button {
  height: 40px !important;
  padding-right: 16px !important;
}

.item-mi-cuenta {
  padding-left: 0px
}

.profilepicsize  {
  width: 100% !important;
  height : 100% !important;
  max-width: 50px !important;  //any size
  max-height: 50px !important; //any size
}
.guardar {
  background-color: #333;
}
