<ion-menu [content]="content">
  <ion-content>
    <ion-list no-lines>

      <!--<ion-item style="margin-top: 8px">
        <a class="primary" item-right><b>Seguinos en</b></a>
        <a href="https://twitter.com/sfppy" item-right>
          <ion-icon name="twitter-circle"></ion-icon>
        </a>
        <a href="https://facebook.com/sfp.py" item-right>
          <ion-icon name="facebook-circle"></ion-icon>
        </a>
      </ion-item>-->

      <ion-item menuClose [hidden]="!isLoggedIn()" >
        <ion-avatar item-left>
          <img [src]="displayAvatar()">
        </ion-avatar>
        <h2 class="primary">{{ displayName() }}</h2>
        <h3>{{ email() }}</h3>
        <!--<p>4908225</p>-->
      </ion-item>

      <ion-item menuClose [hidden]="isLoggedIn()" (click)="login()">
        <ion-avatar item-left>
          <img src="./assets/img/avatar.png">
        </ion-avatar>
        <h2 class="primary">Iniciar Sesión</h2>
      </ion-item>

      <ion-item-group [hidden]="!isLoggedIn()">
        <ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)"
                  [ngClass]="{'selected' : selectedPage == p.component}">
          <ion-icon color="primary" name="{{p.icon}}" item-left class="sidenav-icon"></ion-icon>
          {{p.title}}
        </ion-item>
        <hr>
      </ion-item-group>

      <ion-item-group>
        <ion-item menuClose *ngFor="let p of pages2" (click)="openPage(p)"
                  [ngClass]="{'selected' : selectedPage == p.component}">
          <ion-icon color="primary" name="{{p.icon}}" item-left class="sidenav-icon"></ion-icon>
          {{p.title}}
        </ion-item>
        <hr>
      </ion-item-group>

      <ion-item menuClose style="background-color: rgba(169,68,66,0.06)" (click)="confirmLogout()" [hidden]="!isLoggedIn()">
        <ion-icon color="primary" name="close" item-left class="sidenav-icon"></ion-icon>
        <h3 class="primary">Cerrar sesión</h3>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
