<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Acerca de Ventas Multinivel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div align="center">
    <img id="logo" src="./assets/img/ventas-fit-black.png"/>
  </div>
  <ion-card-title align="center" color="primary">
    ¿Qué es Ventas Multinivel?
  </ion-card-title>
    <p text-wrap>
      El objetivo de Ventas Multinivel es constituirse como una herramienta sencilla
      para la creación de pedidos y la administración de los mismos
      en Sistemas de ventas orientados a la modalidad Multinivel.
      Es decir sistemas donde se tenga una cabeza de venta general con vendedores ramificados en sub niveles.
    </p>
  <!--<ion-card-title align="center" color="primary">
    ¿Cómo se originó?
  </ion-card-title>
    <p text-wrap>
      Es la aplicación ganadora del Hackaton llevado a cabo en el marco
      de <a href="http://www.innovando.gov.py" target="_blank">InnovandoPy 2016</a>
      organizado por la SENATIC´s con el apoyo del
      <a href="http://www.ceamso.org.py/en/pdg">Programa Democracia y Gobernabilidad</a>
      (USAID-CEAMSO)
    </p>
  <ion-item-divider padding-top></ion-item-divider>
  <ion-card-title align="center" color="primary">
    ¿Quiénes están involucrados en el proyecto?
  </ion-card-title>
  <p text-wrap>
    #ConcursaPy es el resultado de la coparticipación entre el estado y
    la sociedad civil para buscar soluciones innovadoras que mejoren la vida de los
    ciudadanos. <a href="http://hackathon.innovando.gov.py/">Más información</a>
  </p>
-->
  <ion-card-title align="left" color="primary">
    Participan:
  </ion-card-title>
  <div align="center" padding-top>
    <img id="sfp" src="./assets/img/fp-una.jpg"/>
    <ion-item-divider padding-top></ion-item-divider>
  </div>
</ion-content>
