<!--
  Generated template for the Categorias page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only left (click)="dismiss()">
        <ion-icon name="md-close"></ion-icon>
      </button>

    </ion-buttons>
    <ion-searchbar (ionInput)="buscarCategorias($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar categoria"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Seleccionar productos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item [hidden]="loading">
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-avatar item-right text-center>
          <img [src]="item.imageData" style="display: block; margin: auto; width: 85px; height: 85px">
          <h3>Gs. {{ item.precioVenta | number:0 | custom}}</h3>
        </ion-avatar>
        <ion-label >
          <h2 class="primary producto-title">{{ item.descripcion }}</h2>
          <!--<span class="primary">Precio: </span> {{ item.precioVenta | number:0 | custom}}<br>-->
          <span class="primary">Tipo: </span>{{ item.idTipoProducto }}<br>
        <span class="primary">Impuesto: </span>{{ item.tipoIva }}<br>
        <span class="primary">Stock Actual: </span>{{ item.stockActual }}</ion-label>
        <ion-checkbox [checked]="item.seleccionado" (click)="select(item)"
                      style="margin-top: 9px; margin-right: 18px; margin-bottom: 9px; margin-left: 4px;"></ion-checkbox>
      </ion-item>
    </ion-list>

    <p class="item item-input-inset">
      <button ion-button round style="width: 48%" (click)="guardar()">
        Aceptar
      </button>
      <button ion-button round style="width: 48%; background-color: #c3c3c3;" (click)="close()">
        Cancelar
      </button>
    </p>
  </ion-item>
</ion-content>
