page-seleccionar-productos {
  .searchbar-md .searchbar-search-icon {
    display: none !important;
  }
  .searchbar-md .searchbar-md-cancel {
    display: block !important;
  }
  .producto-title {
    font-weight: bold;
    /* color: black; */
    text-transform: uppercase;
  }
}
