page-view-pedidos-confirmados {
  .requerido {
    color : red;
  }
  .button-pedido {
    background: #a41111;
    text-align: center;
    width: 45%;
    border-radius: 5px;
    font-size: 15px;
    /* font-weight: bold; */
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: auto;
  }
  .button-remove {
    background: #a41111;
    text-align: center;
    width: 30px;
    border-radius: 2px;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 0px;
    margin-left: auto;
  }
  .inside-button {
    display: inline-block;
    color: white;
  }
  .button-left {
    display: inline-block;
    color: white;
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
  }
  .button-right {
    display: inline-block;
    color: white;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
  }
}
