<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administrar Pedidos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="pedido">
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Cliente<span  class="requerido"> *</span></ion-label>
      <ion-input formControlName="cliente" disabled=""></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Vendedor<span class="requerido"> *</span></ion-label>
      <ion-input formControlName="vendedor" disabled=""></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Fecha de Pedido<span class="requerido" > *</span></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechaPedido" doneText="Aceptar" cancelText="Cancelar" disabled></ion-datetime>
    </ion-item>
    <div align="center" style="width: 95%; margin: auto" [hidden]="!loading">
      <ion-spinner style="margin: 36px; width: 68px; height: 68px;"></ion-spinner>
    </div>
    <div [hidden]="loading">
      <ion-item class="item-mi-cuenta">
        <ion-card-title color="primary" [hidden]="!agregado" >Detalles del pedido: </ion-card-title>
        <ion-icon  color="primary" name="md-cart" item-right ></ion-icon>
      </ion-item>
      <ion-list>
        <ion-card *ngFor="let item of items" text-wrap >
          <ion-card-content no-padding>

            <ion-item >
              <ion-avatar item-left no-padding>
                <img [src]="item.imageData" style="display: block; margin: auto; width: 85px; height: 85px">
                <h3>Gs. {{ item.precioVenta | number:0 | custom}}</h3>
              </ion-avatar>
              <ion-item item-right style="margin: 0px; padding: 0px">
                <ion-label style="margin: 0px; padding: 0px">
                  <h2 class="primary">{{ item.descripcion }}</h2>
                  <span class="primary">Precio unitario: </span> {{ item.precioVenta | number:0 | custom}}<br>
                  <span class="primary">Stock Actual: </span>{{ item.stockActual }}<br>
                  <span class="primary">Total detalle: </span> {{ item.precioVenta * item.cantidad | number:0 | custom}}<br>
                  <div >
                    <div class="button-pedido">
                      <ion-icon  class="inside-button button-left" name="md-remove"  ></ion-icon>
                      <div  class="inside-button" >{{ item.cantidad }}</div>
                      <ion-icon  class="inside-button button-right" name="md-add" ></ion-icon>
                    </div>
                  </div>
                </ion-label>
              </ion-item>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
  </form>
</ion-content>
