<!--
  Generated template for the ConcursosEvaluacion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="buscarConcursos($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar concurso"
                   [cancelButtonText]="Cancelar"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Pedidos Confirmados</ion-title>

    <!--<ion-buttons end>
      <button ion-button icon-only [hidden]="hidden" (click)="hidden = !hidden">
        <ion-icon name="search"></ion-icon>
      </button>

    </ion-buttons>-->

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" text-wrap (click)="goToDetails(item)" padding-horizontal>
      <!--<ion-avatar item-right>
        <img src="./assets/img/avatar.png" style="display: block; margin: auto; margin-right: 12px">
        <p>{{ item.vacancia }} vacanci{{ item.vacancia == 1 ? 'a' : 'as'}}</p>
      </ion-avatar>
      <h2 class="primary">{{ item.puesto }}</h2>
      <h3 >{{ item.descripcionOee }}</h3>
      <p><span class="primary">Inicio: </span>{{ item.inicioPostulacion | date:"dd/MM/yyyy HH:mm" }}</p>
      <p><span class="primary">Fin: </span>{{ item.finPostulacion | date:"dd/MM/yyyy HH:mm" }}</p>-->

      <h2 class="primary">Cliente: {{ item.clienteDescripcion }}</h2>
      <h3 >Monto del pedido: Gs. {{ item.total| number:0 | custom}}</h3>
      <h3 >Estado del pedido: {{ item.estadoPedido}}</h3>
      <p><span class="primary">Fecha de Pedido: </span>{{ item.fechaPedido | date:"dd/MM/yyyy" }}</p>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>




</ion-content>
