<!--
  Generated template for the MiCuenta page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Administrar Pedidos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="pedido">
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Cliente<span  class="requerido"> *</span></ion-label>
      <ion-input formControlName="cliente" disabled=""></ion-input>
      <ion-icon  color="primary" name="search" item-right (click)="buscarClientes()" [hidden]="!crear"></ion-icon>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Vendedor<span class="requerido"> *</span></ion-label>
      <ion-input formControlName="vendedor" disabled=""></ion-input>
    </ion-item>
    <ion-item class="item-mi-cuenta">
      <ion-label stacked>Fecha de Pedido<span class="requerido" > *</span></ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fechaPedido" doneText="Aceptar" cancelText="Cancelar" disabled></ion-datetime>
    </ion-item>
    <!--<ion-item-divider></ion-item-divider>-->

    <div align="center" style="width: 95%; margin: auto" [hidden]="!loading">
      <ion-spinner style="margin: 36px; width: 68px; height: 68px;"></ion-spinner>
    </div>

    <div [hidden]="loading">
      <ion-item class="item-mi-cuenta">
        <ion-card-title color="primary" [hidden]="agregado" >Seleccione los productos. </ion-card-title>
        <ion-card-title color="primary" [hidden]="!agregado" >Detalles del pedido: </ion-card-title>
        <ion-icon  color="primary" name="md-cart" item-right (click)="agregarProductos()"></ion-icon>
      </ion-item>

      <!--<h1 class="primary" text-center="" padding-right>Detalles del pedido</h1>-->
      <ion-list>
        <!--<ion-item *ngFor="let item of items" text-wrap padding-right>
          <ion-avatar item-right>
            &lt;!&ndash;<img  src="data:image/png;base64,{{item.imagen}}" style="display: block; margin: auto">&ndash;&gt;
            <img [src]="item.imageData" style="display: block; margin: auto; width: 85px; height: 85px">
            <h3>Gs. {{ item.precioVenta | number:0 | custom}}</h3>
            &lt;!&ndash;<p>{{ item.vacancia }} vacanci{{ item.vacancia == 1 ? 'a' : 'as'}}</p>&ndash;&gt;
          </ion-avatar>
          <h2 class="primary">{{ item.descripcion }}</h2>
          <h3>Precio: {{ item.precioVenta }}</h3>
          &lt;!&ndash;<p><span class="primary">Tipo de Producto: </span>{{ item.idTipoProducto }}</p>&ndash;&gt;
          <p><span class="primary">Stock Actual: </span>{{ item.stockActual }}</p>
        </ion-item>-->
        <ion-card *ngFor="let item of items" text-wrap >
          <ion-card-content no-padding>
            <div >
              <div class="button-remove">
                <ion-icon  class="inside-button" name="md-close" (click)="eliminar(item)"></ion-icon>
              </div>
            </div>
            <ion-item >
              <ion-avatar item-left no-padding>
                <img [src]="item.imageData" style="display: block; margin: auto; width: 85px; height: 85px">
                <h3>Gs. {{ item.precioVenta | number:0 | custom}}</h3>
              </ion-avatar>
              <ion-item item-right style="margin: 0px; padding: 0px">
                <ion-label style="margin: 0px; padding: 0px">
                  <h2 class="primary">{{ item.descripcion }}</h2>
                  <span class="primary">Precio unitario: </span> {{ item.precioVenta | number:0 | custom}}<br>
                  <span class="primary">Stock Actual: </span>{{ item.stockActual }}<br>
                  <span class="primary">Total detalle: </span> {{ item.precioVenta * item.cantidad | number:0 | custom}}<br>
                  <div >
                    <div class="button-pedido">
                      <ion-icon  class="inside-button button-left" name="md-remove" (click)="restarCantidad(item)" ></ion-icon>
                      <div  class="inside-button" >{{ item.cantidad }}</div>
                      <ion-icon  class="inside-button button-right" name="md-add" (click)="sumarCantidad(item)"></ion-icon>
                    </div>
                  </div>
                </ion-label>
                <!--<h2 color="primary">{{ item.descripcion }}</h2>
                <h3>Precio: {{ item.precioVenta }}</h3>
                <p><span class="primary">Stock Actual: </span>{{ item.stockActual }}</p>-->
              </ion-item>

              <!--<ion-item item-right >
                <ion-icon  color="primary" name="md-remove" (click)="agregarProductos()"></ion-icon>
                <p >{{ item.stockActual }}</p>
                <ion-icon  color="primary" name="md-add" (click)="agregarProductos()"></ion-icon>
              </ion-item>-->
            </ion-item>
          </ion-card-content>

        </ion-card>
      </ion-list>
    </div>
    <button style="margin-top:40px" ion-button block round class="mi-cuenta" [hidden]="!agregado || !crear"  (click)="guardar()">Guardar</button>
    <p class="item item-input-inset"  [hidden]="!agregado || crear">
      <button ion-button round style="width: 48%; background-color: #c3c3c3;" (click)="confirmarCerrar()">
        Cerrar
      </button>
      <button ion-button round style="width: 48%"  class="guardar" (click)="guardar()">
        Modificar
      </button>
    </p>
  </form>
  <ion-fab bottom right>
    <button ion-fab (click)="agregarProductos()"><h2 style="padding-top: 10px;" color="white">+</h2><ion-icon name="md-cart"></ion-icon></button>
  </ion-fab>
</ion-content>
