<!--
  Generated template for the ConcursosPostulacion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-searchbar (ionInput)="buscarConcursos($event)" autocorrect="off"
                   (ionCancel)="cancelarBusqueda()"
                   (ionClear)="limpiarBusqueda()"
                   placeholder="Buscar concurso"
                   [cancelButtonText]="'Cancelar'"
                   [showCancelButton]="true"
                   [animated]="true"
                   [hidden]="!hidden"></ion-searchbar>

    <ion-title [hidden]="hidden">Pedidos en creación</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item-sliding  *ngFor="let item of items">
      <ion-item text-wrap (click)="goToDetails(item)" padding-right>
        <h2 class="primary">Cliente: {{ item.clienteDescripcion }}</h2>
        <h3 >Monto del pedido: Gs. {{ item.total | number:0 | custom }}</h3>
        <h3 >Estado del pedido: {{ item.estadoPedido}}</h3>
        <p><span class="primary">Fecha de Pedido: </span>{{ item.fechaPedido | date:"dd/MM/yyyy" }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button style="font-size: 10px"  (click)="eliminar(item)"><ion-icon name="md-trash"></ion-icon>
        Eliminar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab bottom right>
    <button ion-fab (click)="goToDetails()"><ion-icon name="md-add"></ion-icon></button>
  </ion-fab>
</ion-content>
